<div style="display: flex; align-items: flex-start; gap: 20px;">
<table>
  <thead>
    <tr>
      <th>Select</th>
      <th>Node</th>
      <th>Name</th>
      <th>Route Nodes</th>
      <th>Route Names</th>
      <th>Distance (ly)</th>
      <th>Delay (ly)</th>
    </tr>
  </thead>
  <tbody>
    @for (planet of planets(); track planet.planetId) {
      <tr>
        <td>
          <input
            type="checkbox"
            [checked]="planet.selected"
            (change)="onPlanetChecked(planet, $any($event.target).checked)"
          >
        </td>
        <td>{{ planet.planetNode }}</td>
        <td>{{ planet.planetName }}</td>
                <td>
          @for (route of planet.routes; track route.destinationPlanetId) {
            <div>{{ route.destinationPlanetNode }}</div>
          }
        </td>
        <td>
          @for (route of planet.routes; track route.destinationPlanetId) {
            <div>{{ route.destinationPlanetName }}</div>
          }
        </td>
        <td>
          @for (route of planet.routes; track route.destinationPlanetId) {
            <div>{{ route.distance }}</div>
          }
        </td>
        <td>
          @for (route of planet.routes; track route.destinationPlanetId) {
            <div>{{ route.trafficDelay }}</div>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

<div>
  <p>Selected Planets: {{ selectedNodesDisplay() }}</p>

  <div>
    <div style="margin-bottom: 10px;">
      <label>
        <input
          type="checkbox"
          [checked]="enableTraffic()"
          (change)="onEnableTrafficChanged($event)"
        >
        Enable Traffic
      </label>
    </div>

    <div>
      <button (click)="onCalculateClicked()">Get Shortest Path</button>
    </div>
    <div>
      <p>{{ pathDisplay() }}</p>
      <p>{{ namePathDisplay() }}</p>
      <p>light years: {{ shortestPath().distance }}</p>
      <p>Parsecs: {{ shortestPath().distance / 3.26156 }}</p>
    </div>
</div>

</div>

<router-outlet />
